{% set asset_path = '/deneb/' ~ templatePath ~ '/assets' %}

<!DOCTYPE html>
<html>
  <head>
      <title>{% block title %}{% endblock %}</title>

      <link rel="stylesheet" href="{{ asset_path }}/css/ink.min.css" />
      <link rel="stylesheet" href="{{ asset_path }}/css/font-awesome.min.css" />
      <link rel="stylesheet" href="{{ asset_path }}/css/deneb.css" />
      <link rel="stylesheet" href="{{ asset_path }}/css/kennyl.css" />

      <script src="{{ asset_path }}/js/jquery-2.2.0.min.js"></script>
      {% block head %}{% endblock %}

  </head>

  <body>
    <div class="wrap">

      {% block nav %}
      {% endblock %}

      {% block content %}
      {% endblock %}
    </div>

  </body>
  <script src="{{ asset_path }}/js/ink-all.min.js"></script>
  <script src="{{ asset_path }}/js/autoload.min.js"></script>
  </html>