{% extends "new.twig" %}

{% block title %}{% endblock %}

{% block header %}
    Edit page
{% endblock %}

{% block formAction %}/admin/update{% endblock %}

{% block pathValue %}
  value="{{ path }}"
{% endblock %}

{% block linknameValue %}
  value="{{ page['meta']['linkname'] }}"
{% endblock %}

{% block titleValue %}
  value="{{ page['meta']['title'] }}"
{% endblock %}

{% block headerValue %}
  value="{{ page['meta']['header'] }}"
{% endblock %}

{% block dateValue %}
  value="{{ page['meta']['date'] }}"
{% endblock %}

{% block descriptionValue %}
  value="{{ page['meta']['description'] }}"
{% endblock %}

{% block categoryValue %}
  value="{{ page['meta']['category'] }}"
{% endblock %}

{% block displayDateTrue %}
  {% if page['meta']['displaydate'] == 'true' %}checked="checked"{% endif %}
{% endblock %}

{% block displayDateFalse %}
  {% if page['meta']['displaydate'] == 'false' %}checked="checked"{% endif %}
{% endblock %}

{% block contents %}
  {{ page['contents'] }}
{% endblock %}

{% block deletePage %}
  <div class="all-10 left-space"><button type="submit" class="ink-button red" id="deleteConfirmationTrigger">Delete</button></div>
{% endblock %}

{% block modals %}
<div class="ink-shade fade">
  <div id="deleteConfirmation" class="ink-modal fade" data-trigger="#deleteConfirmationTrigger" data-width="20%" data-height="18%" role="dialog" aria-hidden="true" aria-labelled-by="modal-title">
    <div class="modal-body" id="modalContent">
      <p class="align-center">Are you sure?</p>
      <div class="align-center">
        <button class="ink-dismiss ink-button all-25 push-center red quarter-horizontal-space">No</button>
        <button type="submit" class="ink-button all-25 push-center green quarter-horizontal-space" name="delete" value="page">Yes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}