{% extends "base.twig" %}

{% block title %}{% endblock %}

{% block head %}
  {{ parent() }}
{% endblock %}

{% block content %}
  <div class="all-50 push-center">
    <div class="align-center">
      <h1>deneb</h1>
      <img src="{{ templatePath }}/assets/img/deneb-logo.svg" alt="deneb" class="deneb-logo" />
      <h4>First-run setup</h4>
    </div>

    <form class="ink-form" action="firstRun" method="post">
  {% if flashError is not null %}
    <div class="column-group half-space">
      <div class="ink-alert basic error" role="alert">
        <button class="ink-dismiss">&times;</button>
        <p>{{ flashError | raw }}</p>
      </div>
    </div>
  {% endif %}

    <form class="ink-form top-space bottom-space" action="firstRun" method="post">
      <div class="column-group">
        <div class="control-group column-group quarter-vertical-gutters half-horizontal-gutters">
          <label for="username" class="all-30 align-right">Username</label>
          <div class="control all-50">
            <input id="username" name="username" type="text" value="{{ pageData['username'] }}" />
          </div>
        </div>

        <div class="control-group column-group quarter-vertical-gutters half-horizontal-gutters">
          <label for="displayName" class="all-30 align-right">Display name</label>
          <div class="control all-50">
            <input id="displayName" name="displayName" type="text" value="{{ pageData['displayName'] }}" />
          </div>
        </div>

        <div class="control-group column-group quarter-vertical-gutters half-horizontal-gutters">
          <label for="email" class="all-30 align-right">Email</label>
          <div class="control all-50">
            <input id="email" name="email" type="email" value="{{ pageData['email'] }}" />
          </div>
        </div>

        <div class="control-group column-group quarter-vertical-gutters half-horizontal-gutters">
          <label for="password" class="all-30 align-right">Password</label>
          <div class="control all-50">
            <input id="password" name="password" type="password"/>
          </div>
        </div>

        <div class="control-group column-group quarter-vertical-gutters half-horizontal-gutters">
          <label for="confirm" class="all-30 align-right">Reenter password</label>
          <div class="control all-50">
            <input id="confirm" name="confirm" type="password" />
          </div>
        </div>

        <div class="control-group column-group quarter-vertical-gutters half-horizontal-gutters">
          <label for="configPath" class="all-30 align-right">Configuration file path</label>
          <div class="control all-50">
            <input id="configPath" name="configPath" type="text" value="{{ pageData['configPath'] }}" />
            <p class="tip small">Please define a path <strong>outside of the document root</strong> that we can write the <code>config.ini</code> file to. The web server must have write permission to the folder, or this step will fail.</p>
          </div>
        </div>

        <input type="hidden" name="csrf_name" value="{{ name }}" />
        <input type="hidden" name="csrf_value" value="{{ value }}" />

        <div class="column-group gutters">
          <div class="all-65"></div>
          <div class="control all-20">
            <input type="submit" value="Submit" class="ink-button green" />
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}