{% extends "base.twig" %}

{% block title %}{% endblock %}

{% block nav %}

<div class="top-menu">
  <nav class="ink-navigation ink-grid">
    <ul class="menu horizontal black">
      {{ headerText | raw }}
      {% block navmenu %}
        {% for linkname, category in navigation %}
          {% if category is not iterable %}
            {% set attr = category | split('\\')  %}
            <li><a href="{{ baseUrl }}{{ attr[2] }}">{{ linkname }}</a><li>
          {% else %}
            {% set path = linkname | split('/') %}
            {% if path[2] is not defined %}
            {# we are intentionally handling only 1 level of nesting #}
              <li>
                <a>{{ linkname | capitalize }}</a>
                <ul class="submenu">
                  {% for linkname2, category in category %}
                    {% set attr = category | split('\\')  %}
                    <li><a href="{{ baseUrl }}{{ attr[2] }}">{{ linkname2 }}</a></li>
                  {% endfor %}
                </ul>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endblock %}
    </ul>
  </nav>
</div>

{% endblock %}

{% block content %}

  <div class="ink-grid">
    <div class="column-group">
      <div class="all-85 push-center" id="content-box">
        <h2>{{ meta['header'] }}</h2>
        {{ include(template_from_string(contents)) | markdown }}
      </div>
    </div>
  </div>

{% endblock %}

{% block footer %}
  <div class="tiny-100 small-100 medium-85 large-85 xlarge-85 push-center">
    <footer>
      {{ footerText | raw }}
    </footer>
  </div>
{% endblock %}
